/phpunit.xml
.phpunit.result.cache

/node_modules/
/public/build/
npm-debug.log
yarn-error.log

.php_cs.cache

tests/e2e/cypress/videos
tests/e2e/cypress/screenshots
/cypress

.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/src/Infrastructure/Symfony/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
